flask
flask-cors
langchain
langgraph
langchain-openai
langchain-groq
chromadb
langchain-community
youtube-transcript-api
beautifulsoup4
sentence-transformers
langchain-huggingface
ddgs
requests
python-dotenv
