flask
flask-cors
langchain
langgraph
langchain-openai
langchain-groq
langchain-ollama
chromadb
langchain-community
youtube-transcript-api
beautifulsoup4
duckduckgo-search
requests
python-dotenv
playwright
gunicorn
